<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>DAMS Home</title>
</head>
<body style = "background-color: rgb(255, 255, 255); text-align: center">
    <nav>
        <div class = "logo" id = "logo">
            <a href= "/" class = "logo">
            <img src = "/UiowaDisasterRelief-05.png" alt = "DAMS Logo"/>
            </a>
        </div>
        <ul>
            <li><a href= "/login"> Login </a></li>
            <li><a href="/register"> Register </a></li>
            <li><a href="/learn"> Learn More </a></li>
        </ul>
    </nav>

    <div class="container mt-4">
       <div class="jumbotron">
            <h1 class="display-4">Disaster Assistance Management System (DAMS)</h1>
            <p class="lead">Join us today if you are able to offer relief or are in need of help</p>
            <hr class="my-4">
            <h1 class= "display-6">The Disaster Assisstance Management System was developed by three Computer Science students; Oliver Rush, Toby Northrup and Jordan Ramey who currently are attending the University Of Iowa.</h1>
    <br>
    <br>
            <div class = "card">
                <div class = "photo-ctn">
                    <img src = "/IOWA2.png" class = "photo" alt ="photo home">
                </div>
            </div>
        </div> 
    </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
</body>
</html>