nav{
    background-color: black;
    color: Gold;
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
    height: 125px;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li{
    list-style: none
}

nav li a{
    color:gold;
    font-weight: bold;
    font-size: 20px;
    padding: 20px 15px;
    transition-duration: 0.4s;
}

nav li a:hover {
    color: white;
}

.avatar-ctn {
    background-color: black;
    text-align: center;
}

.avatar {
    width: 65%;
    border-bottom: 1px solid rbga(0,0,0,0,0.125);
}

.photo-ctn {
    background-color: gold;
    text-align: center;
}
.photo{
    width: 65%;
    border-bottom: 1px solid rbga(0,0,0,0,0.125);;
}

.card{
    background-color: rgb(238, 238, 238);
}

.btn{
    background-color: gray;
    transition-duration: 0.4s;
    width: 1260px;
    font-size: 20px;
}

.btn:hover{
    background-color: gold;
    color: black
}

.btn2{
    background-color: gray;
    transition-duration: 0.4s;
    height: 40px;
    font-size: 20px;
}

.btn2:hover{
    background-color: gold;
    color: black
}



