nav{
    background-color: black;
    background-size: 60px 120px;
    color: gold;
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
    height: 133px;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li{
    list-style: none
}

nav li a{
    color: gold;
    font-weight: bold;
    font-size: 20px;
    padding: 20px 15px;
    transition-duration: 0.4s;
}

nav li a:hover {
    color: white;
}

.avatar-ctn {
    background-color: black;
    text-align: center;
}

.avatar {
    width: 65%;
    border-bottom: 1px solid rbga(0,0,0,0,0.125);
}

.photo-ctn {
    background-color: black;
    text-align: center;
}
.photo{
    width: 65%;
    border-bottom: 1px solid rbga(0,0,0,0,0.125);;
}

.card{
    background-color: rgb(238, 238, 238);
}

.btn{
    background-color: gray;
    transition-duration: 0.4s;
    
    font-size: 20px;
}

.btn:hover{
    background-color: rgb(255, 215, 0);
    color: black
}

.btn2{
    background-color: gray;
    transition-duration: 0.4s;
    height: 40px;
    font-size: 20px;
}

.btn2:hover{
    background-color: gold;
    color: black
}

.logo{
    background-color:rgb(255, 255, 255);
    width: 22%;
}
